@import "reset.css";


@import "component/status-bar.css";
@import "component/no-mobile.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/nav-bar.css";
@import "component/badge.css";
@import "component/alt-screen-header.css";
@import "component/icon-row.css";

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/chat.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";

body {
    background-color: var(--background);
    color: var(--font);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-screen {
    padding: 0 var(--horizontal-space);
}
